<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="/stylesheets/style.css">
</head>
<body>
  <main>
    <h1>Qr Generator</h1>
    <form action="/qr" method="post">
      <input type="text" name="image" id="" placeholder="Ente Your link">
      <input type="submit" value="Generate QR">
    </form>

    <img src="<%=url%>" alt="">
 
  </main>
  
  <script src="/javaScripts/bundle.js"></script>
</body>
</html>